@charset "utf-8";

/* Configurações Gerais */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}

* a {
    text-decoration: none;
}

:root {
    --text-color: #ffffff;
    --bg-url: url(../assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

/* Light Mode */
.light {
    --text-color: #000000;
    --bg-url: url(../assets/bg-mobile-light.jpg);
    --stroke-color: (0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

/*  Corpo / Seção */
body {
    background: var(--bg-url) no-repeat top center / cover;
}

section#container {
    width: 360px;
    margin: auto;
    margin-top: 56px;
    padding: 0px 24px;
}

/* Profile */
#profile {
    text-align: center;
    padding: 24px;
}

#profile>img {
    width: 112px;
}

#profile>p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
/* Switch */

#switch button{
    width: 32px;
    height: 32px;
    background: white url(../assets/moon-stars.svg) no-repeat center;
    border: 0;
    border-radius: 50%;
     
}

/* Links */
article#links>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0px;

}

#links ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 8px;
    font-weight: 400;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);

    backdrop-filter: blur(4px);
    -webki-backdrop-filter: blur(4px);

    transition: background 0.2s;
}

#links ul>li>a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* Social icons */
div#social-icones {
    display: flex;
    padding: 24px 0px;
    font-size: 24px;
    justify-content: center;

}

#social-icones>a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}

#social-icones>a:hover {
    background-color: var(--highlight-color);

}

/*  footer */
footer {
    padding: 24px 0px;
    text-align: center;
    font-size: 14px;
}